.nav{
 
    background-color:black;
}


.headersearch{
width:50px;
}
.p{
    display:flex;
}
.d-flex{
    width:443px;
}
.nav-link{
    color:black!important;
}
/* .nav-link:hover{
    color: red !important;;
    
} */