.movie1p{
    text-align: center;
    margin-left:97px;
    
    width:1000px;
    height: 600px;
    margin-top:83px;
}
.p5s{
    width:100%;
}
.movies1des{
color:pink;
}
.movie1p1{

    width:300%;
}
@media screen {
    
}